---
import type { Frontmatter } from '../config'
import { SiteMetadata } from '../config'
import { ActivityAreas, ActivityLocations, Activities } from '../activities'
import Page from '../layouts/page.astro'
import PageHero from '../components/pagehero.astro'
import Img from '../components/img.astro'

const frontmatter: Frontmatter = {
  title: 'Attività',
  description: 'Le nostre attività',
  coverSVG: '../images/svg/undraw/undraw_about_me.svg',
  socialImage: '../images/undraw/undraw_about_me.png',
  publishDate: SiteMetadata.buildTime,
}
---

<Page frontmatter={frontmatter}>
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
        <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
            <caption class="p-5 text-lg font-semibold text-left text-gray-900 bg-white dark:text-white dark:bg-gray-800">
                Attività attive sul territorio
                <select id="areas" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                    <option selected>Tutti i territori</option>
                    {
                    ActivityLocations.map( area => (
                        <option value={area.name}>{area.name}</option>
                    ))
                    }
                </select>
            </caption>
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        Attività
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Area
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Territori
                    </th>
                </tr>
            </thead>
            <tbody>
                {
                    Activities.sort((a, b) => {
                        if( b.area.toLowerCase() < a.area.toLowerCase()) return 1;
                        else if( b.area.toLowerCase() > a.area.toLowerCase()) return -1;
                        else return b.name.toLowerCase() < a.name.toLowerCase() ? 1 : -1;
                    } 
                    ).map( activity =>
                        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                {activity.name}
                            </th>
                            <td class="px-6 py-4">
                                {activity.area}
                            </td>
                            <td class="px-6 py-4">
                                {activity.locations.map( loc => <span>{loc}, </span>)}
                            </td>
                        </tr>
                    )
                }
            </tbody>
        </table>
    </div>
</Page>